 RFC 6265: Inconsistent with the client!

This project is RFC 6265 compliant. All special characters that are not allowed in the cookie-name or cookie-value are encoded with each one's UTF-8 Hex equivalent using percent-encoding.
The only character in cookie-name or cookie-value that is allowed and still encoded is the percent % character, it is escaped in order to interpret percent input as literal.
To override the default cookie decoding you need to use a converter.

https://github.com/js-cookie/js-cookie


Hi! Is this a bug report? Are you having problems using the "decode" option in this module to alter parsing behavior? Are you proposing a new idea?

Can you elaborate on the issue, please :)

```js 
// at server:
res.cookie("/test","hello);
// result: /rtest hello

//and Use https://github.com/js-cookie/js-cookie
Cookies.set("/test":"hello");
// result: %2Ftest hello
```
Who is right?

The character "/" is perfectly valid to exist in the cookie's name, so in that case, js-cookie is in the wrong since it is providing unnecessary encoding. This module does not encode it since it is unnecessary to do so.

You can refer to RFC 6265 section 4.1.1 for the list of allowed characters.

P.S. This module has nothing to do with "res.cookie" either, as this module only gives you req.cookies and does cookie parsing.

Thanks, you are good

> The character "/" is perfectly valid to exist in the cookie's name

It is not, unless I am missing something.

* [RFC 6265 section 4.1.1](http://tools.ietf.org/html/rfc6265#section-4.1.1) says that `cookie-name` is a `token`.
* A `token` is defined in [[RFC2616], Section 2.2](http://tools.ietf.org/html/rfc2616#section-2.2) which states that it is `1*<any CHAR except CTLs or separators>` (note for "except").
* A `CHAR` is any `any US-ASCII character (octets 0 - 127)`.
* `separators` includes `"/"`, therefore it is not allowed in the cookies's name

Like I said, all this module does is parse cookies; it has nothing to do with encoding cookies.

If you want to use restricted characters in cookies, this module provides a decode option so you can decide them to match whatever your encoding scheme is.

If there is a specific issue you wish to fix in this module, a PR is probably the best way to describe it, as code is a form of language that we all know :) The demo in this issue was `res.cookie("/test","hello");`, which has nothing to do with this module at all, so I'm not sure why the issue is, but perhaps that was just some un-related information.

A cookie called `%25test` would be accessible through this module as `req.cookies['%25test']`, as that is the name of the cookie.

Sorry for the noise, I didn't meant to create more confusion, I just got here by the OP cross-reference. This issue is probably invalid, I was just piggybacking on that statement.